<app-toolbar></app-toolbar>
<div class="content">
  <section class="search-bar">
    <div class="search-bar__parameters">
      <mat-form-field appearance="fill">
        <mat-label>Окрас</mat-label>
        <mat-select [(value)]="selectedOptions.color">
          <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пол</mat-label>
        <mat-select
          (selectionChange)="sexChange($event.value)"
          [(value)]="selectedOptions.sex"
        >
          <mat-option *ngFor="let sex of sexes" [value]="sex.value">
            {{ sex.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Животное</mat-label>
        <mat-select [(value)]="selectedOptions.animal">
          <mat-option *ngFor="let animal of animalsList" [value]="animal.value">
            {{ animal.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Состояние</mat-label>
        <mat-select [(value)]="selectedOptions.advertType">
          <mat-option *ngFor="let type of advertTypes" [value]="type.value">
            {{ type.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="search-bar__cards-handler">
      <mat-card>
        <mat-card-title>Пропала кошка Муся 1</mat-card-title>
      </mat-card>
      <mat-card>
        <mat-card-title>Пропала кошка Муся 2</mat-card-title>
      </mat-card>
      <mat-card>
        <mat-card-title>Пропала кошка Муся 3</mat-card-title>
      </mat-card>
      <mat-card></mat-card>
    </div>
  </section>
  <section class="map"></section>
</div>
