<app-toolbar></app-toolbar>
<div class="content">
  <section class="account-info">
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput [disabled]="true" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput [disabled]="true" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Телефон</mat-label>
      <input matInput [disabled]="true" />
    </mat-form-field>
  </section>
  <section class="adverts-list">
    <mat-card>
      <mat-card-header>Пропал пёсель Майк</mat-card-header>
    </mat-card>
  </section>
</div>
